{#
/**
 * @file
 * Seven's theme implementation to display a single Drupal page.
 *
 * The doctype, html, head, and body tags are not in this template. Instead
 * they can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.pre_content: Items for the pre-content region.
 * - page.breadcrumb: Items for the breadcrumb region.
 * - page.highlighted: Items for the highlighted region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}


<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      {#logo#}
      {{ page.navigation }}
      <a type="button" class="navbar-toggle" href="#outside" aria-expanded="false" aria-controls="navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
    </div>
    <div id="navbar" class="navbar-collapse">

      {# tour help #}
      <div class="hidden" id="toolbar-tab-tour">
        <a class="toolbar-icon toolbar-icon-help toolbar-item" aria-pressed="false"><img src="/core/themes/stable/images/core/icons/ffffff/questionmark-disc.svg" width="21"></a>
      </div>

      {# user info #}
      <div class="nav navbar-nav navbar-right navbar-dropdown">
        <div class="navbar-item">
          {{ page.topbar }}
        </div>

        <div class="dropdown navbar-item">
          {# user block start #}
          <a id="user-dropdown" href="" class="dropdown-toggle" data-target="#" data-toggle="dropdown" aria-expanded="false">
            <img src="{{ user_picture }}" width="120" height="120" alt="">
          </a>
          {# user block end #}
          {{ page.user_dropdown }}
        </div>
      </div>

      {# main menu #}
      {{ page.navigation_collapsible }}

    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    {# Sidebar First #}
    {% if page.sidebar_first|render|striptags|trim %}
      {% block sidebar_first %}
        <div{{ attributes.addClass(sidebar_classes) }}>
          <div class="toggle-button-group">
            <div class="toggle-button" data-toggle="offcanvas"></div>
            <div class="toggle-button-r" data-toggle="offcanvas"></div>
          </div>
          {{ page.sidebar_first }}
        </div>
      {% endblock %}
    {% endif %}

    {# Content #}
    <div{{ content_attributes.addClass(main_classes) }}>
      <div class="layout-container">
        {% if page.header|render|striptags|trim %}
          {% block header %}
            <header class="content-header clearfix">
              <div class="row">
                <div class="{% if page.admin_action|render|striptags|trim %}col-lg-7{% else %}col-lg-12{% endif %}">
                  {{ page.header }}
                </div>
                {% if page.admin_action|render|striptags|trim %}
                <div class="col-lg-5">
                  <div class="pull-right-lg">
                    {{ page.admin_action }}
                  </div>
                </div>
                {% endif %}
              </div>
              <div class="row">
                <div class="col-lg-12">
                  {{ page.tabs }}
                </div>
              </div>
            </header>
          {% endblock %}
        {% endif %}
        {{ page.breadcrumb }}
        <main class="page-content clearfix" role="main">
          <div class="visually-hidden"><a id="main-content" tabindex="-1"></a></div>
          {{ page.highlighted }}
          {% if page.help %}
            <div class="help">
              {{ page.help }}
            </div>
          {% endif %}
          {{ page.content }}
        </main>
      </div>
    </div>
  </div>
</div>

{{ page.outside }}
