{{ attach_library('dyniva_ui/codeprettify') }}
{{ attach_library('dyniva_ui/holderjs') }}
<div id="ui-header" class="ui-preview-header navbar-one bg-color-primary sticky-header">
  <div class="sticky-wrapper">
    <div class="inner">
      <div class="f-l nav-branding outside-min-t inside-min-tb clearfix">
        <div class="f-l outside-min-r">
          <a id="site-logo" href="{{ base_path }}ui-preview/pages/index.html.twig" title="Home" class="nav-logo f-l" rel="home">
            <img src="{{ theme }}/templates/ui/images/logo.svg" alt="Home">
          </a>
        </div>
        <div class="f-r">
          <h2 id="site-name" class="nav-name">
            <a href="{{ base_path }}ui-preview/pages/index.html.twig" title="Home" class="text-white" rel="home">Dyniva UI Starterkit</a>
          </h2>
          <p id="site-slogan" class="nav-slogan text-white size-m">Version 1.0.3</p>
        </div>
      </div>
      <div class="f-r js-main-menu">
        {% block menu %}
          {% include '@dyniva_starterkit/ui/pages/ui-menu.html.twig' %}
        {% endblock %}
        <button id="header-btns" class="hamburger hamburger--collapse" type="button">
            <span class="hamburger-box">
               <span class="hamburger-inner"></span>
            </span>
        </button>
      </div>
    </div>
  </div>
</div>
