<ul class="menu nav-menu">
  <li class="menu-item expanded">
    <a href="javascript:void(0)" class="menu-toggle">基础 <span class="caret"></span></a>
    <ul class="menu level-menu">
      <li class="menu-item"><a href="{{ base_path }}ui-preview-theme/dyniva_starterkit/foundation/color.html.twig">颜色方案</a></li>
      <li class="menu-item"><a href="{{ base_path }}ui-preview-theme/dyniva_starterkit/foundation/grid.html.twig">网格系统</a></li>
      <li class="menu-item"><a href="{{ base_path }}ui-preview-theme/dyniva_starterkit/foundation/typography.html.twig">文字排版</a></li>
      <li class="menu-item"><a href="{{ base_path }}ui-preview-theme/dyniva_starterkit/foundation/icons.html.twig">字体图标</a></li>
    </ul>
  </li>
  <li class="menu-item expanded">
    <a href="javascript:void(0)" class="menu-toggle">控件 <span class="caret"></span></a>
    <ul class="menu level-menu">
      <li class="menu-item"><a href="{{ base_path }}ui-preview-theme/dyniva_starterkit/foundation/links-buttons.html.twig">链接和按钮</a></li>
      <li class="menu-item"><a href="{{ base_path }}ui-preview-theme/dyniva_starterkit/foundation/form-elements.html.twig">表单元素</a></li>
      <li class="menu-item"><a href="{{ base_path }}ui-preview-theme/dyniva_starterkit/components/messages.html.twig">消息与通知</a></li>
      <li class="menu-item"><a href="{{ base_path }}ui-preview-theme/dyniva_starterkit/components/ui-media.html.twig">媒体对象</a></li>
      <li class="menu-item"><a href="{{ base_path }}ui-preview-theme/dyniva_starterkit/foundation/ui-animations.html.twig">动画</a></li>
      <li class="menu-item"><a href="{{ base_path }}ui-preview-theme/dyniva_starterkit/components/ui-charts.html.twig">图表</a></li>
      <li class="menu-item"><a href="{{ base_path }}ui-preview-theme/dyniva_starterkit/components/panel.html.twig">面板</a></li>
      <li class="menu-item"><a href="{{ base_path }}ui-preview-theme/dyniva_starterkit/components/tables.html.twig">表格</a></li>
      <li class="menu-item"><a href="{{ base_path }}ui-preview-theme/dyniva_starterkit/components/title.html.twig">标题</a></li>
      <li class="menu-item"><a href="{{ base_path }}ui-preview-theme/dyniva_starterkit/foundation/ui-background.html.twig">背景</a></li>
    </ul>
  </li>
  <li class="menu-item expanded">
    <a href="javascript:void(0)" class="menu-toggle">组件 <span class="caret"></span></a>
    <ul class="menu level-menu">
      {# <li class="menu-item"><a href="{{ base_path }}ui-preview-theme/dyniva_starterkit/modules/ui-menu.html.twig">菜单</a></li>
      <li class="menu-item"><a href="{{ base_path }}ui-preview-theme/dyniva_starterkit/modules/tabs.html.twig">选项卡</a></li>
      <li class="menu-item"><a href="{{ base_path }}ui-preview-theme/dyniva_starterkit/modules/slider.html.twig">滑动条</a></li>
      <li class="menu-item"><a href="{{ base_path }}ui-preview-theme/dyniva_starterkit/modules/icon-box.html.twig">Icon 区块</a></li>
      <li class="menu-item"><a href="{{ base_path }}ui-preview-theme/dyniva_starterkit/modules/carousel.html.twig">图片轮播</a></li> #}

      <li class="menu-item"><a href="{{ base_path }}ui-preview-theme/dyniva_starterkit/modules/ui-brand.html.twig">品牌</a></li>
      <li class="menu-item"><a href="{{ base_path }}ui-preview-theme/dyniva_starterkit/modules/ui-navigation.html.twig">导航</a></li>
      <li class="menu-item"><a href="{{ base_path }}ui-preview-theme/dyniva_starterkit/modules/ui-hero.html.twig">头条</a></li>
      <li class="menu-item"><a href="{{ base_path }}ui-preview-theme/dyniva_starterkit/modules/ui-list.html.twig">列表</a></li>
      <li class="menu-item"><a href="{{ base_path }}ui-preview-theme/dyniva_starterkit/modules/ui-showcase.html.twig">图文混排</a></li>
      <li class="menu-item"><a href="{{ base_path }}ui-preview-theme/dyniva_starterkit/modules/carousel.html.twig">轮播</a></li>
      <li class="menu-item"><a href="{{ base_path }}ui-preview-theme/dyniva_starterkit/modules/ui-calendar.html.twig">时间日历</a></li>
      <li class="menu-item"><a href="{{ base_path }}ui-preview-theme/dyniva_starterkit/modules/ui-action.html.twig">引导</a></li>
      <li class="menu-item"><a href="{{ base_path }}ui-preview-theme/dyniva_starterkit/modules/ui-media.html.twig">媒体</a></li>
      <li class="menu-item"><a href="{{ base_path }}ui-preview-theme/dyniva_starterkit/modules/ui-photo.html.twig">相册</a></li>
      <li class="menu-item"><a href="{{ base_path }}ui-preview-theme/dyniva_starterkit/modules/ui-map.html.twig">地图</a></li>
    </ul>
  </li>
  <li class="menu-item expanded">
    <a href="javascript:void(0)" class="menu-toggle">页面 <span class="caret"></span></a>
  </li>
  <li class="menu-item expanded">
    <a href="javascript:void(0)" class="menu-toggle">开始使用 <span class="caret"></span></a>
    <ul class="menu level-menu">
      <li class="menu-item"><a href="{{ base_path }}ui-preview-theme/dyniva_starterkit/foundation/classes.html.twig">常用类名</a></li>
      <li class="menu-item"><a href="{{ base_path }}ui-preview-theme/dyniva_starterkit/pages/ui-guide.html.twig">UI组件开发规范</a></li>
      <li class="menu-item"><a href="{{ base_path }}ui-preview-theme/dyniva_starterkit/pages/drupal-guide.html.twig">Drupal开发规范</a></li>
      <li class="menu-item"><a href="{{ base_path }}ui-preview-theme/dyniva_starterkit/pages/jquery.html.twig">jQuery最佳实践</a></li>
      <li class="menu-item"><a href="{{ base_path }}admin/appearance/styleguide">风格指南</a></li>
      <li class="menu-item"><a href="{{ base_path }}ui-preview-theme/dyniva_starterkit/pages/ui-changelog.html.twig">更新记录</a></li>
    </ul>
  </li>
</ul>
