{#
/**
 * @file
 * Default theme implementation for a calendar pager.
 *
 * Available variables:
 * - items: List of pager items.
 *
 * @ingroup themeable
 */
#}
{% if (items.year or items.month) and not exclude %}
  <div class="calendar-date clearfix t-c">
  <div class="js-form-item form-item js-form-type-select form-type-select js-form-item-year form-item-year">
    <select data-drupal-selector="edit-year" id="edit-year" name="year" class="form-select">
      {% for key, value in items.year %}
        {% if value.selected %}
          <option value="{{ value.y }}" selected="selected">{{ value.y }}</option>
        {% else %}
          <option value="{{ value.y }}">{{ value.y }}</option>
        {% endif %}
      {% endfor %}
    </select>
    <label for="edit-year">{{ 'Year'|trans }}</label>
  </div>
  <div class="js-form-item form-item js-form-type-select form-type-select js-form-item-month form-item-month">
    <select data-drupal-selector="edit-month" id="edit-month" name="month" class="form-select">
      {% for k, v in items.month %}
        {% if v.selected %}
          <option value="{{ v.m }}" selected="selected">{{ v.m }}</option>
        {% else %}
          <option value="{{ v.m }}">{{ v.m }}</option>
        {% endif %}
      {% endfor %}
    </select>
    <label for="edit-month">{{ 'Month'|trans }}</label>
  </div>
</div>
{% endif %}
