{{ attach_library('dyniva_admin/content.moderation') }}

{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}

<div class="row">
  <!-- <div class="col-md-12">
  </div> -->
  <div class="col-md-4">
    {{ form.state }}
    {{ form.approvers}}
    {{ form.changes}}
    {{ form.transition_target}}
    {{ form.status}}
    {{ form.comment}}
    {{ form.actions.submit}}
    <!-- <div class="text-align-center">

    </div> -->
  </div>
</div>
