{{ attach_library('ccms_admin/content.moderation') }}

{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}

<div class="row">
  <!-- <div class="col-md-12">
  </div> -->
  <div class="col-md-4">
    {{ form.state }}
    {{ form.approvers}}
    {{ form.changes}}
    {{ form.transition_target}}
    {{ form.status}}
    {{ form.comment}}
    {{ form.actions.submit}}
  </div>
  <div class="col-md-8">
    {{ form.actions_mail}}
    {% if  form.last_link %}
    <div id="ccms-moderation-cpwin" class="row">
      <div class="col-md-6">
        <div class="screenshot text-center">
          <img class="img-responsive center-block" data-drupal-selector="edit-image" src="{{ form.last_img}}" alt="" typeof="foaf:Image">
          <a href="{{ form.last_link|raw}}" class="overlay" target="_blank">Last Version</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="screenshot text-center">
          <img class="img-responsive center-block" data-drupal-selector="edit-image" src="{{ form.current_img}}" alt="" typeof="foaf:Image">
          <a href="{{ form.current_link|raw}}" class="overlay" target="_blank">Current Version</a>
        </div>
      </div>
    </div>
    {% endif %}
    {{ form.actions_mail}}
  </div>
</div>
