{{ attach_library('ccms_admin/content.moderation') }}
<!-- <h2 class="block-heading">{{ title }}</h2> -->
<div class="ccms-table readmore">
{% for date, rows in items %}
  <!-- <div class="ccms-table-row"> -->
    <!-- <div class="ccms-table-cell ccms-table-column-heading">
      <i class="glyphicon glyphicon-calendar"></i> {{ date }}
    </div> -->
    <!-- <div class="ccms-table-cell"> -->
      <ul>
      {% for item in rows %}
        <li>
          <div><i class="glyphicon glyphicon-user"></i> {{ item.user }} {{ item.date }}</div>
          {% if item.comments %}
          {% for comment in item.comments %}
            <div class="comment">
              {{ comment }}
            </div>
          {% endfor %}
          {% else %}
            <div class="comment">
              {{ 'No update logs.'|t }}
            </div>
          {% endif %}
        </li>
      {% endfor %}
      </ul>
    <!-- </div> -->
  <!-- </div> -->
  {% endfor %}
</div>
