<ul class="nav navbar-nav private-message-toolbar">
  <li class="dropdown list-message">
    <a href="#"
      aria-expanded="false"
      data-drupal-link-system-path="manage/private_messages"
      data-toggle="dropdown"
      >
      <i class="iconfont icon-mail"></i>
      <span class="label label-warning" {# or label-succes #}>{{new_message_count}}</span>
    </a>
    <ul class="dropdown-menu">
      <li class="dropdown-menu-arrow"></li>
      <li class="header">
        {{you_has_new_text}}
      </li>
      <li>
        <ul class="menu">
          {% for item in items %}
            <li>
                <div class="picture"><img src="{{item.image}}" width="50px" height="50px"/></div>
                <time class="timeago" datetime="{{item.date}}"></time>
                <div class="message-content">
                  <a href="{{item.link}}" data-action="private_message_load_thread">{{item.message}}</a>
                  <div class="owner">{{item.owner}}</div>
                </div>
            </li>
          {% endfor %}
        </ul>
      </li>
      <li class="footer clearfix">
        <div class="footer-item">
        {% if first_thread or has_create_private_message %}
          <a href="{{path('dyniva_message.manage.private_message_list')}}" target="_blank" data-action="private_message_load_thread">{{'Read All Messages'|t}}</a>
        {% endif %}
        </div>
      </li>
    </ul>
  </li>
</ul>
